<div class="jumbotron">
  <h1>Enjoy books?</h1>
    <p>Welcome to the largest online Digital Books Store</p>
      <%= link_to "Show me books!", books_path, class: "btn btn-success" %>
      <%= link_to "Yes, sign me up!", new_user_registration_path, class: "btn btn-primary" %>
</div>

<div class="row">

  <%= render @books %>

</div>
